:root{
  --main-background-color: rgb(195, 225, 236);
  --main-sidebar-color:  rgb(1, 8, 29);
  --main-wrapper-color: rgb(1, 8, 29);
  --main-content-color:  aliceblue;
  --main-border-color:   rgb(1, 8, 29);

  --main-font-color: rgb(248, 236, 250);
  --main-darkfont-color: rgb(1, 8, 29);
  --main-header-color: aliceblue;

}
body{
  background-color: var(--main-background-color)
}

Button{
  padding: 5px;
  width: 195px;
}

h1{
  color: aliceblue;
  font-size: 46px;
  font-family: 'Righteous', cursive;
  text-align: center;
}

h3{
  
  text-align: left;
  position: relative;
  font-size: 25px;
  top: -18px;
  left: 15px;
}

.tweetTable{
  margin-left: 40px;
}

.center{
  position: relative;
  left: 12%;
}

.twitProfilePic img{
  border-color: var(--main-wrapper-color);
  border-radius: 25px;
  border-style: solid;
}

a{
  color: var(--main-darkfont-color);
}