:root{
  --main-body-color:  rgb(151, 206, 174);
  --main-wrapper-color: rgb(44, 75, 62); 
}
body{
  background-color: var(--main-body-color)
}

Button{
  padding: 5px;
  width: 195px;
}

h3{
  
  text-align: left;
  position: relative;
  font-size: 25px;
  top: -18px;
  left: 15px;
}

.tweetTable{
  margin-left: 40px;
}

.center{
  position: relative;
  left: 12%;
}